html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#72c3e9, #c1ebff);
  height: 100%;
  text-align: center;
  color: #00273b;
}

.logo {
  min-width: 300px;
  max-width: 25%;
}

.about-section, .logo-section, .island-section, .contact-section, .contact-section {
  padding-top: 50px;
}

.island {
  min-width: 350px;
  max-width: 40%;
}

.footer-section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00273b;
  color: #c1ebff;
  border-top: #003a5f 10px solid;
}

.button {
  background: #70c7ff;
  color: #003a5f;
  border-bottom: #00273b 3px solid;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.button:hover {
  background: #3db3ff;
}